<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
        <property name="fileEncoding" value="UTF-8"/>
    </bean>

    <bean id="global"
          class="com.dy.util.Global">
        <property name="fileArticleUploadPath" value="${file.articleUploadPath}"/>
        <property name="fileUserUploadPath" value="${file.userUploadPath}"/>
        <property name="fileServer" value="${file.server}"/>
        <property name="wxToken" value="${wx.token}"/>
        <property name="wxAppid" value="${wx.appid}"/>
        <property name="wxAppsecret" value="${wx.appsecret}"/>
        <property name="wxId" value="${wx.id}"/>
    </bean>

</beans>