html, body {
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    color: #333;
    text-decoration: none;
}

.header-wrapper {
    position: relative;
    padding: 15px;
    background: #f9f8f8;
    border-bottom: 1px solid #f9f8f8;
}

.header-wrapper img {
    height: 20px;
}

.header-back {
}

.header-home {
    float: right;
}

.footer-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #f9f8f8;
    text-align: center;
    background: white;
}

.footer-tab {
    padding: 5px 0;
    display: inline-block;
    width: 48%;
}

.footer-tab img {
    height: 20px;
}

.footer-line {
    display: inline-block;
    height: 30px;
    width: 2px;
    background: #f9f8f8;
}

.index-top-img {
    display: block;
    padding: 5px;
}

.index-top-img img {
    width: 100%;
}

.common-wrapper {
    background: #f9f8f8;
    padding: 5px;
}

.common-content {
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.question-textarea {
    display: block;
    padding: 5px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: none;
}

.question-button {
    border-radius: 3px;
    background: #70dff8;
    color: white;
    border: none;
    height: 30px;
    width: 100%;
}

.question-nav-v {
    display: inline-block;
    width: 15%;
}

.question-nav-v img {
    height: 150px;
    width: 100%;
}

.question-items-a {
    display: inline-block;
    width: 84%;
    float: right;
}

.question-item-a {
    line-height: 30px;
}

.question-title-a {
    font-weight: bold;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-tag-a {
    font-weight: normal;
    display: inline-block;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    line-height: 14px;
    font-size: 10px;
    padding: 0 6px;
    position: relative;
    top: -1px;
}

.article-nav-h {
    padding: 5px 0;
}

.article-nav-h img {
    height: 20px;
}

.article-items {
    text-align: center;
}

.article-item {
    position: relative;
    display: inline-block;
    width: 48%;
    margin: 0 2px 10px 2px;
}

.article-item img {
    width: 100%;
    height: 100px;
    border: 1px solid #f9f8f8;
}

.article-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

.user-wrapper {
    padding: 10px;
}

.user-headimg {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.user-myquestion {
    height: 20px;
    float: right;
    margin-top: 10px;
}

.question-nav-h {
    padding: 5px 0;
}

.question-nav-h img {
    height: 20px;
}

.question-items-b {

}

.question-item-b {
    border-bottom: 1px solid #f9f8f8;
    line-height: 40px;
    padding: 0 15px;
}

.question-title-b {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ask-finish {
    padding: 60px;
}

.ask-finish img {
    width: 100%;
}

.question-items-c {

}

.question-item-c {
    position: relative;
    border-bottom: 1px solid #f9f8f8;
    line-height: 30px;
    padding: 0 15px;
}

.question-title-c {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-title-c-tag {
    display: inline-block;
    font-weight: bold;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-time-c {
    font-size: 10px;
    color: #bbb;
}

.question-tag-c {
    position: absolute;
    right: 0;
    top: 15px;
    width: 20%;
}

.common-search {
    position: relative;
    padding: 10px;
}

.common-search img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 20px;
}

.common-search input {
    border-radius: 3px;
    border: 1px solid #f9f8f8;
    width: 100%;
    height: 30px;
    text-indent: 3em;
}

.common-tabs {
    border-bottom: 1px solid #f9f8f8;
    padding: 10px;
}

.common-tab {
    display: inline-block;
    color: #bbb;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
}

.common-tab-active {
    border-bottom: 2px solid #bbb;
}

.answer-item {
    position: relative;
    background: #f9f8f8;
    padding: 5px 10px;
    margin: 20px 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: justify;
    max-width: 80%;
}

.answer-left {
    text-align: left;
}

.answer-right {
    text-align: right;
}

.answer-time {
    text-align: center;
    color: #bbb;
    font-size: 10px;
}

.answer-tag {
    position: absolute;
    top: -20px;
    left: 10px;
    height: 40px;
}

.answer-left .answer-content {
    text-indent: 3em;
}

.common-ask input {
    text-indent: 1em;
    border-radius: 3px;
    border: 1px solid #f9f8f8;
    height: 30px;
    width: 76%;
}

.common-ask button {
    border-radius: 3px;
    background: #70dff8;
    color: white;
    border: none;
    float: right;
    height: 30px;
    width: 20%;
}

.article-head {
    padding: 10px;
}

.article-head-title {
    text-align: justify;
    font-weight: bold;
}

.article-head-time {
    padding-top: 10px;
    font-size: 10px;
    color: #bbb;
}