html, body {
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    color: #333;
    text-decoration: none;
}

button {
    width: 100%;
    height: 30px;
    color: white;
    background: #70dff8;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

button:focus {
    outline: none !important;
}

input {
    width: 100%;
    height: 30px;
    border: 1px solid #f9f8f8;
    border-radius: 3px;
    text-indent: 1em;
}

input:focus {
    outline: none !important;
}

.header-wrapper {
    position: relative;
    padding: 15px;
    background: #f9f8f8;
    border-bottom: 1px solid #f9f8f8;
}

.header-wrapper img {
    height: 20px;
}

.header-back {
}

.header-home {
    float: right;
}

.footer-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #f9f8f8;
    text-align: center;
    background: white;
}

.footer-tab {
    padding: 5px 0;
    display: inline-block;
    width: 30%;
}

.footer-tab img {
    height: 20px;
}

.footer-line {
    display: inline-block;
    height: 30px;
    width: 2px;
    background: #f9f8f8;
}

.index-top-img {
    display: block;
    padding: 5px;
}

.index-top-img img {
    width: 100%;
}

.common-wrapper {
    background: #f9f8f8;
    padding: 5px;
}

.common-content {
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.common-content img {
    max-width: 100%;
}

.question-textarea {
    display: block;
    padding: 5px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.question-nav-v {
    display: inline-block;
    width: 15%;
}

.question-nav-v img {
    height: 150px;
    width: 100%;
}

.question-items-a {
    display: inline-block;
    width: 84%;
    float: right;
}

.question-item-a {
    line-height: 30px;
}

.question-title-a {
    font-weight: bold;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-tag-a {
    font-weight: normal;
    display: inline-block;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    line-height: 14px;
    font-size: 10px;
    padding: 0 6px;
    position: relative;
    top: -1px;
}

.article-nav-h {
    padding: 5px 0;
    display: block;
}

.article-nav-h img {
    height: 30px;
}

.article-items {
}

.article-item {
    position: relative;
    display: inline-block;
    width: 48%;
    margin: 0 2px 10px 2px;
}

.article-item img {
    width: 100%;
    height: 100px;
    border: 1px solid #f9f8f8;
}

.article-title {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

.article-more {
    text-align: center;
    padding: 10px;
    color: #bbb;
}

.user-wrapper {
    padding: 10px;
}

.user-headimg {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.user-nickname {
    position: relative;
    bottom: 12px;
}

.user-myquestion {
    display: inline-block;
    float: right;
    margin-top: 12px;
}

.user-myquestion img {
    height: 20px;
}

.question-nav-h {
    padding: 5px 0;
}

.question-nav-h img {
    height: 20px;
}

.question-items-b {

}

.question-item-b {
    border-bottom: 1px solid #f9f8f8;
    line-height: 40px;
    padding: 0 15px;
    display: block;
}

.question-title-b {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ask-finish {
    padding: 60px;
    display: block;
}

.ask-finish img {
    width: 100%;
}

.question-items-c {

}

.question-item-c {
    position: relative;
    border-bottom: 1px solid #f9f8f8;
    line-height: 30px;
    padding: 0 15px;
    display: block;
}

.question-title-c {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-title-c-tag {
    display: inline-block;
    font-weight: bold;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-time-c {
    font-size: 10px;
    color: #bbb;
}

.question-tag-c {
    position: absolute;
    right: 0;
    top: 15px;
    width: 20%;
}

.common-search {
    position: relative;
    padding: 10px;
}

.common-search img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 20px;
}

.common-search input {
    text-indent: 3em;
}

.common-tabs {
    border-bottom: 1px solid #f9f8f8;
    padding: 10px;
}

.common-tab {
    display: inline-block;
    color: #bbb;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
}

.common-tab-active {
    border-bottom: 2px solid #bbb;
}

.answer-item {
    position: relative;
    background: #f9f8f8;
    padding: 5px 10px;
    margin: 20px 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: justify;
    max-width: 80%;
}

.answer-left {
    text-align: left;
}

.answer-right {
    text-align: right;
}

.answer-time {
    text-align: center;
    color: #bbb;
    font-size: 10px;
}

.answer-tag {
    position: absolute;
    top: -20px;
    left: 10px;
    height: 40px;
}

.answer-left .answer-content {
    text-indent: 3em;
}

.common-ask-wrapper {
    position: fixed;
    bottom: 50px;
    padding: 10px;
    width: 100%;
    background: white;
}

.common-ask {
    width: 94%;
}

.common-ask input {
    width: 66%;
}

.common-ask button {
    float: right;
    width: 15%;
    margin-left: 2px;
}

.common-head {
    padding: 10px;
}

.common-head-title {
    text-align: justify;
    font-weight: bold;
}

.common-head-time {
    padding-top: 10px;
    font-size: 10px;
    color: #bbb;
}

.login-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .05);
    padding-top: 50%;
}

.login-form {
    width: 80%;
    border: 1px solid #bbb;
    padding: 20px;
    box-shadow: 0px 0px 3px #bbb;
    background: white;
    margin: 0 auto;

}

.login-form-close {
    color: #bbb;
    text-align: right;
}

.login-form-item {
    padding: 10px 0;
}

.login-code-input {
    width: 55% !important;
}

.login-code-button {
    width: 40%;
    float: right;
}

.login-form-tip {
    font-size: 10px;
    color: #bbb;
}